:root{
    --primary-gradient: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --weight-400: 400;
    --weight-700: 700;
}

body{
    color: var(--pale-blue);
    background-color: var(--very-dark-blue);
    background-image: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    font-size: 14px;
    font-family:'Raleway';
    /*---*/

}
.center{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
}
.content{
    margin-left: 12%;
}
.rounded-square{
    border-radius: 10px;
    width: 540px;
    height: 155px; 
}
.rounded-square-main{ 
    border-radius: 10px 90px 10px 10px;
    width: 350px;
    height: 200px; 
}

.rounded-square, .rounded-square-main{
    display: inline-block;
    padding: 20px;
    background: var(--dark-blue);
    vertical-align:bottom;
}
.dark-rounded-square{
    background-color: var(--very-dark-blue);
    border-radius: 10px;
    width: 48px;
    height: 48px;
    display: inline-block;
    vertical-align:bottom;
}

.img{
    padding: 13px;
}
label {
    padding-right: 10px;
    font-size: 1rem;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }