:root{
    --primary-gradient: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --medium-blue: #151e49;
    --very-dark-blue: hsl(229, 57%, 11%);
    --weight-400: 400;
    --weight-700: 700;

}

body{
    color: var(--pale-blue);
    font-size: 14px;
    font-family:'Raleway';
    background-color: var(--very-dark-blue);
    background-image: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: contain;
}
h1{
    color: var(--very-dark-blue);
    font-weight: 700px;
    display: inline;
    padding-left: 25px;
    margin-top: 40px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}
progress{
    width: 100%;
    background-color: var(--medium-blue);
    border: 3px solid var(--medium-blue);
    border-radius: 20px;    
    appearance: none;
}

/*in firefox this only refers to the value*/
progress::-moz-progress-bar { 
    background-image: var(--primary-gradient);
    border-radius: 20px;
  }

/*for edge*/
progress::-webkit-progress-value { 
    background-color: orange;
  }

progress::-webkit-progress-bar{
    background-color: var(--medium-blue);
    border-radius: 20px;
    height: 20px;    
}

.dot {
height: 25px;
width: 25px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
}
  
.content{
    margin-top: 17%;
    margin-left: 23%;
}
.rounded-square{
    border-radius: 10px;
    width: 540px;
    height: 155px; 
}
.rounded-square-main{ 
    border-radius: 10px 90px 10px 10px;
    width: 350px;
    height: 200px; 
}
.rounded-square, .rounded-square-main{
    display: inline-block;
    background: var(--dark-blue);
    vertical-align:bottom;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
.dark-rounded-square{
    background-color: var(--very-dark-blue);
    border-radius: 10px;
    width: 48px;
    height: 48px;
    display: inline-block;
    vertical-align:bottom;
}

.img{
    padding: 13px;
}

/*--speech bubble-*/
.speech-bubble {
	position: absolute;
	background: white;
	border-radius: .4em;
    width: 180px;
    height: 75px;
    padding: 0px;
    margin-left: 280px;
    margin-top: -80px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 90%;
	width: 0;
	height: 0;
	border: 1em solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-right: 0;
	margin-bottom: -0.781em;
}




.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }